<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="aquaSoap11">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://mdesa.bisa.com/AquaWar3/soap/" binding="basicHttpBinding" bindingConfiguration="aquaSoap11" contract="BISAService.aqua" name="aquaSoap11" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="puerto" value="3360" />
    <add key ="usuarioBISA_SOAP" value="atc-pos"/>
    <add key ="passwordBISA_SOAP" value="HmEyJS0OPW5eSzXz674sDg=="/>
    <add key ="nombreCertificadoBISA_SOAP" value="mdesa.bisa.com"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>